%p= link_to "Manage Words", :controller => "admin/words", :action => "index"
%p= link_to "Manage Dialects", :controller => "admin/dialects", :action => "index"
%p= link_to "Manage Handshapes", :controller => "admin/handshapes", :action => "index"
%p= link_to "Manage Movements", :controller => "admin/movements", :action => "index"
%p= link_to "Manage Orientations", :controller => "admin/orientations", :action => "index"
%p= link_to "Manage Positions", :controller => "admin/positions", :action => "index"
%p= link_to "Manage Images", :controller => "admin/images", :action => "index"