#sign_finger
  %h3 Finger
  %input{:id => "sign_#{order}_#{direction}_finger_1", :name => "sign_#{order}[#{direction}_finger]", :type => "radio", :value => "1", :checked => "checked"}
  = label_tag :finger, "Zero, One", :for => "sign_#{order}_#{direction}_finger_1"
  %input{:id => "sign_#{order}_#{direction}_finger_2", :name => "sign_#{order}[#{direction}_finger]", :type => "radio", :value => "2"}
  = label_tag :finger, "Two", :for => "sign_#{order}_#{direction}_finger_2"
  %input{:id => "sign_#{order}_#{direction}_finger_3", :name => "sign_#{order}[#{direction}_finger]", :type => "radio", :value => "3"}
  = label_tag :finger, "Three", :for => "sign_#{order}_#{direction}_finger_3"
  %input{:id => "sign_#{order}_#{direction}_finger_4", :name => "sign_#{order}[#{direction}_finger]", :type => "radio", :value => "4"}
  = label_tag :finger, "Four, Five", :for => "sign_#{order}_#{direction}_finger_4"
#sign_handshape
  %h3 Handshape
  - (1..4).each do |finger|
    .handshape_class{:id => "sign_#{order}_#{direction}_handshape_section_#{finger}"}
      - @handshapes.select {|handshape| handshape.finger == finger.to_s}.each do |handshape|
        #selection
          %input{:id => "sign_#{order}_#{direction}_handshape_finger_#{handshape[:id]}", :name => "sign_#{order}[#{direction}_handshape]", :type => "radio", :value => handshape[:id], :checked => handshape[:id] == 1}
          = label_tag nil, image_tag(handshape[:url]), :for => "sign_#{order}_#{direction}_handshape_finger_#{handshape[:id]}"
#sign_orientation
  %h3 Orientation
  - @orientations.each do |orientation|
    #selection
      %input{:id => "sign_#{order}_#{direction}_orientation_#{orientation[:id]}", :name => "sign_#{order}[#{direction}_orientation]", :type => "radio", :value => orientation[:id], :checked => orientation[:id] == 1}
      = label_tag nil, image_tag(orientation[:url]), :for => "sign_#{order}_#{direction}_orientation_#{orientation[:id]}"
