#new_submit
  %h2 Submit New Word
  - form_for @word do |word_form|
    #form_field_0
      %h3 Word
      = word_form.text_field :text
    #form_field_1
      %h3 Dialect
      - Dialect.all.each do |dialect|
        = word_form.radio_button :dialect, dialect[:id]
        = label_tag :dialect, dialect[:name], :for => "word_dialect_" + dialect[:id].to_s
    #form_field_2
      %h3 Hand
      = radio_button_tag :hand, 1
      = label_tag :hand, "One", :for => "hand_1"
      = radio_button_tag :hand, 2
      = label_tag :hand, "Two", :for => "hand_2"
    #form_field_3
      %h3 Finger
      #left_fingers
        = radio_button_tag :left_finger, 1
        = label_tag :finger, "Zero, One", :for => "left_finger_1"
        = radio_button_tag :left_finger, 2
        = label_tag :finger, "Two", :for => "left_finger_2"
        = radio_button_tag :left_finger, 3
        = label_tag :finger, "Three", :for => "left_finger_3"
        = radio_button_tag :left_finger, 4
        = label_tag :finger, "Four, Five", :for => "left_finger_4"
      #right_fingers
        = radio_button_tag :right_finger, 1
        = label_tag :finger, "Zero, One", :for => "right_finger_1"
        = radio_button_tag :right_finger, 2
        = label_tag :finger, "Two", :for => "right_finger_2"
        = radio_button_tag :right_finger, 3
        = label_tag :finger, "Three", :for => "right_finger_3"
        = radio_button_tag :right_finger, 4
        = label_tag :finger, "Four, Five", :for => "right_finger_4"
    #form_field_4
      %h3 Handshape
      #left_handshape
        %h4 Hand #1
        - (1..4).each do |finger|
          #left_handshape{:id => finger}
            - @handshapes.select {|handshape| handshape.finger == finger.to_s}.each do |handshape|
              #selection
                = radio_button_tag "sign_left_handshape", handshape[:id]
                = label_tag nil, image_tag(handshape[:url]), :for => "sign_left_handshape_" + handshape[:id].to_s
      #right_handshape
        %h4 Hand #2
        - (1..4).each do |finger|
          #right_handshape{:id => finger}
            - @handshapes.select {|handshape| handshape.finger == finger.to_s}.each do |handshape|
              #selection
                = radio_button_tag "sign_right_handshape", handshape[:id]
                = label_tag nil, image_tag(handshape[:url]), :for => "sign_right_handshape_" + handshape[:id].to_s
    #form_field_5
      %h3 Orientation
      #left_orientation
        - @orientations.each do |orientation|
          #selection
            = radio_button_tag "sign_left_orientation", orientation[:id]
            = label_tag nil, image_tag(orientation[:url]), :for => "sign_left_orientation_" + orientation[:id].to_s
      #right_orientation
        - @orientations.each do |orientation|
          #selection
            = radio_button_tag "sign_right_orientation", orientation[:id]
            = label_tag nil, image_tag(orientation[:url]), :for => "sign_right_orientation_" + orientation[:id].to_s
    #form_field_6
      %h3 Position
      #position_hand{:id => "1"}
        - Position.one_hand.each do |position|
          #selection
            = radio_button_tag "sign_position", position[:id]
            = label_tag nil, image_tag(position[:url]), :for => "sign_position_" + position[:id].to_s
      #position_hand{:id => "2"}
        - Position.two_hands.each do |position|
          #selection
            = radio_button_tag "sign_position", position[:id]
            = label_tag nil, image_tag(position[:url]), :for => "sign_position_" + position[:id].to_s
    #form_field_7
      %h3 Movement
      - @positions.each do |position|
        #movement{:id => "position_#{position.id}"}
          - Movement.find_by_position(position).each do |movement|
            #selection
              = radio_button_tag "sign_movement", movement[:id]
              = label_tag nil, image_tag(movement[:url]), :for => "sign_movement_" + movement[:id].to_s
    #form_field_8
      %h3 Memo
      = word_form.text_field :memo
    = word_form.submit "Submit"
