%h3 Congratulations! You have created a new word in our dictionary!

%p
  %h3 Text:
  = @word.text
%p
  %h3 Dialect:
  = @word.dialect.name
- @signs.each do |sign|
  %p
    %h3= "Movement ##{sign.order}"
  %p
    %h3 Left Handshape
    = image_tag sign.left_handshape.url
  - if sign.right_handshape
    %p
      %h3 Right Handshape
      = image_tag sign.right_handshape.url
  %p
    %h3 Left Orientation
    = image_tag sign.left_orientation.url
  - if sign.right_orientation
    %p
      %h3 Right Orientation
      = image_tag sign.right_orientation.url if sign.right_orientation
  %p
    %h3 Position
    = image_tag sign.position.url
  %p
    %h3 Movement
    = image_tag sign.movement.url
%p
  %h3 Memo:
  = @word.memo
