#tabs
  - tabs_tag do |tab|
    = tab.home 'Home', '/'
    = tab.new_word 'Submit New Word', new_word_path
    = tab.search 'Search', '/search'
    = tab.resources 'Resources', '/resources'
    = tab.about 'About', '/about'
